<h1>Welcome Index View</h1>
<% if user_signed_in? %>
    <h3 role="presentation">Create New Post</h3>
    <div id="posttform">
      <p><%= render 'postform' %></p>
    <% end %>
    </div>
<h3> Posts </h3>
